<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>I'M IN YOUR VK SPAMMING YOUR GROUPS</title>
	<link rel="stylesheet" href="/css/default.css" />
</head>
<body>
	<div id="content">
		<%=yield %>
	</div>
</body>
</html>
